@charset "utf-8";

body {
	margin:0;
	padding:0;
	background-color:#888;
	color:#333;
	font-family:'Roboto', sans-serif;
	overflow-y: scroll;
}

#container {
	width:840px;
	margin:10px auto;
	font-size:13px;
	position: relative;
}

#wrapper {
	box-shadow: 0 0 5px #666;
	box-shadow: 0 0 5px #666;
	border-radius:10px;
	margin:0;
	overflow:hidden;
}

#banner {
	color:#FFF;
	background-image: url(images/seattle_skyline.jpg);
	height:200px;
	width:840px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;	
}

#bannertext {
	margin:0;
	border:0;
	padding:10px 20px;
	float:right;
	font-size:2.75em;
	line-height:1.5em;
}

#nav {
	background:#222;
	overflow:hidden;
	height:30px;
}

#nav ul {
  list-style:none;
  margin:0;
  padding:0 0 0 10px;
}

#nav ul li {
  font-size:115%;
  display:inline;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
}

#nav ul li a {
  display:block;
  margin:0;
  padding:0px 10px;
  color:#fff;
  text-decoration:none;
  line-height:30px;
}

#nav ul li a:hover {
  background:#FFF;
  color:#333;
}

#page {
	background-color:#FFF;
	overflow:auto;
	padding:20px;
	clear: both;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

#sidebar {
	float:right;
	line-height:160%;
	margin:0 -10px 0 15px;
	padding:0 0 0 10px;
}

#photo {
  width:220px;
	margin-left:0;
	margin-right:auto;
	padding-bottom:10px;
	display:block;
}

#hindi {
  padding-bottom:5px;
}

#icons {
  padding-top:10px;
  line-height:175%;
}

#icon {
  vertical-align:text-top;
  padding-right:7px;
}

#content {
	margin-left:15px;
	margin-right:15px;
	line-height:160%;
}

#content h2 {
	font-size:125%;
	margin:0;
	border-bottom:1px solid #E5E5E5;
	overflow:hidden;
	padding:5px 0 0 0;
	margin-bottom:5px;
}

#content h3 {
  font-size:110%;
  font-weight:bold;
  padding:10px 0 0 0;
  margin:0;
  border:0;
}

#content p {
	text-align:justify;
	margin-top:7px;
	margin-bottom:7px;
}

#content ul {
	padding-left:20px;
}

#publication li {
	padding-bottom:5px;
}

table {
  width:770px;
}

#res-left {
  width:600px;
  text-align:justify;
  vertical-align:top;
}

#res-right {
  padding-left:15px;
  vertical-align:top;
	line-height:130%;
}

#email {
	padding:5px 0 2px 0;
	height:13px;
}

#gviewer {
	width:770px;
	height:800px;
	padding:0;
}

a:link, a:visited {
	text-decoration:none;
	color:#065388;
}
a:hover {
	color:#990000;	
}
a.current:link, a.current:visited {
	color:#111;
}
img { border:none; }
